@use 'mixins' as *;

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    height: 100dvh;
    background-image: linear-gradient(to right, var(--light-purple), var(--dark-purple));
    @include flex-center;
    font-family: "Kanit", sans-serif;
}
