@use 'mixins' as *;

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    height: 100dvh;
    background-image: linear-gradient(to right, var(--light-purple), var(--dark-purple));
    @include flex-center;
    font-family: "Kanit", sans-serif;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.6);
        z-index: 900;
        display: none;
    }
}

.show-overlay::before {
    display: block;
}