@use "mixins" as *;
@use "globals";
@use "variables";
@use "typography";

.app {
  margin-inline: auto;
  width: 95vw;
  height: 95dvh;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--off-white);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px 10px 0 0;

    form {
      position: relative;

      input {
        width: 100%;
        padding: 15px 20px;
        border-radius: 30px;
        outline: none;
        border: none;
        background-color: var(--black);
        caret-color: var(--gray);
        color: var(--gray);

        @media (max-width: 768px) {
          padding: 10px 15px;
          font-size: 0.7rem;
        }
      }

      button {
        position: absolute;
        width: 20px;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        top: 50%;
        right: 15px;
        translate: 0 -50%;
        cursor: pointer;
        outline: none;
        border: none;
        color: var(--gray);
        font-size: 1rem;

        i {
          transition: var(--main-trans);
        }

        &:hover i {
          color: var(--off-white);
        }

        @media (max-width: 768px) {
          right: 10px;
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 12px;
    }
  }

  main {
    padding: 20px 15px;
    height: calc(95dvh - 130px);
    display: flex;
    gap: 20px;

    & > div:nth-child(3),
    .flex > div {
      border-radius: 10px;
      background-color: rgb(19, 19, 19);
      padding: 30px;
    }

    .flex {
      display: flex;
      gap: 20px;
      flex-direction: column;

      @media (min-width: 769px) and (max-width: 1300px) {
        flex-direction: row;
        flex-basis: 100% !important;
      }
    }

    .flex:first-child {
      flex-basis: 200px;

      .blog-profile {
        @include flex-center;
        flex-direction: column;

        div {
          width: 70px;
          border-radius: 50%;
          overflow: hidden;
          aspect-ratio: 1 / 1;

          img {
            max-width: 100%;
            overflow: hidden;
          }
        }

        p {
          margin-top: 15px;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      .categories {
        flex: 1;

        h2 {
          padding-bottom: 20px;

          @media (max-width: 768px) {
            display: none;
          }
        }

        a {
          display: block;
          padding: 10px 0;
          font-family: "Kanit", serif;
          font-weight: 300;
          font-style: normal;
          text-transform: uppercase;
          color: var(--off-white);
          font-size: 0.9rem;
          transition: var(--main-trans);
          position: relative;

          i:first-child {
            position: absolute;
            right: 38px;
            top: 50%;
            translate: 0 -50%;
            z-index: 2;
            border: 1px solid black;
          }

          i:last-child {
            position: absolute;
            right: 35px;
            top: 42%;
            translate: 0 -50%;
            border: 1px solid black;
            z-index: 1;
          }

          &:hover {
            color: white;
            text-shadow: 0 0 5px var(--off-white);
          }

          @media (max-width: 1300px) {
            display: inline-block;
            padding: 5px;

            i:first-child {
              right: -12px
            }

            i:last-child {
              right: -15px;
            }
          }
        }

        @media (max-width: 1300px) {
          text-align: center;
        }
      }
    }

    .flex:nth-child(2) {
      flex-direction: column !important;
    }

    @media  (max-width: 1300px) {
      flex-direction: column;
    }
  }
}
